#TBD
A reporting sheet for both manual and automation tests.

1. View all test reports.
2. See test details.
3. See sign off, if applicable
4. Link to previous version, collection and release reports.
3. Sort by date, filter by name, product, version, collection, release
3. Link to results, tests and test data.
4. Print report.
5. Export report.
6. Print collection/version/release reports.
6. Export collection/version/release reports.
